config MY_MODULE_BASE_RESET
	bool "Reset support"
	help
	  .

config MY_MODULE_BASE_UID
	bool "Unique ID support"
	help
	  .

menuconfig MY_MODULE_BASE_WATCHDOG
	bool "Watchdog support"

if MY_MODULE_BASE_WATCHDOG

config MY_MODULE_BASE_WATCHDOG_TIMEOUT_SEC
	int "Watchdog timeout (sec)"
	default 180
	help
	  Watchdog timeout in seconds.

endif # MY_MODULE_BASE_WATCHDOG

menuconfig MY_MODULE_BASE_HOME_ASSISTANT
     bool "Home Assistant support"

if MY_MODULE_BASE_HOME_ASSISTANT

config MY_MODULE_BASE_HA_DEVICE_NAME
	string "Device name"

config MY_MODULE_BASE_HA_DEVICE_NICKNAME
	string "Device nickname"

choice MY_MODULE_BASE_HA_DEVICE_TYPE
    bool "Device type"
    default MY_MODULE_BASE_HA_DEV_TYPE_AIR_QUALITY

config MY_MODULE_BASE_HA_DEV_TYPE_AIR_QUALITY
    bool "Air Quality device"

config MY_MODULE_BASE_HA_DEV_TYPE_ACTION_BUTTON
    bool "Button device"
endchoice

config MY_MODULE_BASE_HA_USE_TEST_DISCOVERY_TOPIC
	bool "Use the test discovery topic"
	help
	  Use the test discovery topic.

config MY_MODULE_BASE_HA_MQTT_SERVER_HOSTNAME
	string "MQTT server hostname"
	help
	  Hostname of MQTT server.

config MY_MODULE_BASE_HA_MQTT_SERVER_ADDR
	string "MQTT server address"
	help
	  MQTT server address.

config MY_MODULE_BASE_HA_MQTT_SERVER_PORT
	int "MQTT server port number"
	default 1883
	help
	  MQTT server port number.

config MY_MODULE_BASE_HA_MQTT_BUFFER_SIZE
	int "MQTT RX/TX buffer size"
	default 1024
	help
	  MQTT RX/TX buffer size.

config MY_MODULE_BASE_HA_MQTT_RECEIVE_THREAD_STACK_SIZE
	int "MQTT receive thread stack size"
	default 2048
	help
	  MQTT receive thread stack size.

config MY_MODULE_BASE_HA_OT_LATENCY_THREAD_STACK_SIZE
	int "OpenThread latency thread stack size"
	default 2048
	help
	  OpenThread latency thread stack size.

endif # MY_MODULE_BASE_HOME_ASSISTANT