module = MY_MODULE_BASE
module-str = my module base
source "subsys/logging/Kconfig.template.log_config"

config MY_MODULE_BASE_RESET
	bool "Reset support"
	select HWINFO

config MY_MODULE_BASE_UID
	bool "Unique ID support"
	select HWINFO

config LOG_FUNC_NAME_PREFIX_DBG
	default n

rsource "Kconfig.openthread"
rsource "Kconfig.watchdog"
rsource "Kconfig.home_assistant"
