config MY_MODULE_BASE_RESET
	bool "Reset support"
	help
	  .

config MY_MODULE_BASE_UID
	bool "Unique ID support"
	help
	  .

config MY_MODULE_BASE_WATCHDOG
	bool "Watchdog support"
	help
	  .

config MY_MODULE_BASE_HOME_ASSISTANT
	bool "Watchdog support"
	help
	  .
